@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #edf6f9;
  font-family: "Poppins", sans-serif;
  align-items: center;
  text-transform: uppercase;
}

.sec-header {
  height: 3em;
  background-color: #b44646;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  color: white;
}

.container {
  width: 80%;
  margin: auto;
}

.primary-header nav {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-header nav .logo {
  width: 15em;
}
.primary-header nav .logo img {
  width: 100%;
}
.primary-header nav .navigation {
  text-align: center;
  letter-spacing: 0.1em;
}
.primary-header nav .navigation ul {
  padding: 1em 0;
}
.primary-header nav .navigation ul li {
  list-style: none;
  display: inline-block;
  padding: 0 1em;
}
.primary-header nav .navigation ul li a {
  text-decoration: none;
  color: #b44646;
  font-weight: bold;
}
.primary-header nav .navigation ul li a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.primary-header nav .searchbar {
  font-size: 20px;
  border: 0.01em solid rgba(0, 0, 0, 0.082);
  border-radius: 0 5px 5px 0;
  padding-left: 1em;
}
.primary-header nav input {
  border: none;
  width: 20em;
  outline: none;
}
.primary-header nav i {
  color: white;
  background-color: #b44646;
  padding: 0.5em;
  border-radius: 0 5px 5px 0;
}

input {
  background: transparent;
}

hr {
  border-top-color: rgba(128, 128, 128, 0.123);
}

.navbar {
  margin: 2em 0;
}
.navbar nav li {
  list-style: none;
  display: inline-block;
  margin-left: 3em;
}
.navbar nav i {
  color: #b44646;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #b44646;
}

section.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
section.hero .hero-img {
  width: 60%;
  height: 100%;
}
section.hero .hero-img img {
  width: 100%;
  height: 100%;
}
section.hero .hero-cat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section.hero .hero-cat img {
  width: 100%;
  display: inline-block;
}
section.hero .hero-cat .cat-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}
section.hero .hero-cat .cat-name .cat-name-img {
  width: 40%;
  height: 115px;
}
section.hero .hero-cat .cat-name .cat-name-img img {
  width: 100%;
  height: 100%;
}
section.hero .hero-cat .category {
  background: rgb(33, 84, 113);
  background: linear-gradient(0deg, rgb(33, 84, 113) 0%, rgb(119, 153, 187) 100%);
  width: 20em;
  height: 115px;
  padding: 0em 1em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
section.hero .hero-cat .category h3 {
  font-size: 20px;
}
section.hero .hero-cat .diff {
  background: rgb(123, 155, 173);
  background: linear-gradient(0deg, rgb(123, 155, 173) 0%, rgb(197, 209, 222) 100%);
}

section.carosel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4em 0;
  display: none;
}
section.carosel .carosel-item {
  width: 12em;
  text-align: justify;
}
section.carosel .carosel-item img {
  width: 12em;
}
section.carosel i {
  background-color: #b44646;
  color: white;
  padding: 2em 0.7em;
  font-size: larger;
}

.price {
  color: #b44646;
  font-weight: bold;
}

.fa-cart-arrow-down:hover {
  color: black;
}

section.other-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  gap: 2em;
}
section.other-item img {
  width: 100%;
}
section.other-item .info {
  margin-bottom: 1em;
}
section.other-item .price, section.other-item i {
  display: inline-block;
  margin-right: 1em;
}

footer {
  margin-top: 4em;
  margin-bottom: 1em;
}

.upper-line {
  margin-bottom: 1em;
  width: 100%;
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  gap: 3em;
}
.upper-line .info {
  display: flex;
  align-items: center;
  gap: 2em;
  width: 50%;
  height: 50px;
  background-color: #b44646;
  border-radius: 0 5px 5px 0;
  color: white;
  position: relative;
}
.upper-line .info .triangle {
  z-index: -1;
  width: 2.1rem;
  height: 2.1rem;
  background-color: #b44646;
  border-radius: 0.1em;
  position: absolute;
  right: -16px;
  transform: rotate(45deg);
}
.upper-line .info p {
  font-size: 10px;
}
.upper-line input {
  width: 40em;
  border: none;
  outline: none;
}
.upper-line i {
  background-color: #b44646;
  padding: 0.5em;
  color: white;
  margin: 0;
}

.footer-info {
  padding: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 3em;
}
.footer-info .foot-part {
  width: 300px;
}
.footer-info .foot-part li {
  list-style-type: none;
  margin: 0.5em 0;
  text-align: left;
}
.footer-info .foot-part li a {
  font-size: 15px;
}
.footer-info .foot-part h3 {
  font-weight: bold;
  font-size: 18px;
}
.footer-info .social {
  grid-column-start: 0;
  grid-column-end: 1;
}
.footer-info .social i {
  margin-right: 1em;
}

@media only screen and (max-width: 1024px) {
  .sec-header {
    font-size: 15px;
  }

  .container {
    width: 90%;
  }

  .primary-header nav .logo {
    width: 8em;
  }
  .primary-header nav .navigation {
    letter-spacing: 0;
    font-size: small;
  }
  .primary-header nav .navigation ul {
    padding: 0;
  }
  .primary-header nav .navigation ul li {
    padding: 0.2em;
  }
  .primary-header nav .searchbar {
    padding-left: 0.1em;
  }
  .primary-header nav .searchbar input {
    width: 10em;
  }

  .navbar nav li {
    font-size: 15px;
    margin-left: 1.2em;
  }

  section.hero .hero-img {
    height: 380px;
  }
  section.hero img {
    width: 100%;
  }
  section.hero .hero-cat {
    gap: 1em;
  }
  section.hero .hero-cat .cat-name {
    margin: auto;
  }

  section.carosel .carosel-item {
    width: 8em;
  }
  section.carosel .carosel-item img {
    width: 8em;
  }
  section.carosel .carosel-item i {
    padding: 1.5em 0.7em;
  }

  .upper-line input {
    width: 20em;
  }
}
@media only screen and (max-width: 1440px) {
  body {
    font-size: 18px;
  }

  .primary-header nav .logo {
    width: 12em;
  }
  .primary-header nav .navigation ul li {
    padding: 0 2px;
  }
  .primary-header nav input {
    width: 15em;
    padding: 1em;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }

  .sec-header {
    font-size: 12px;
  }

  .primary-header nav .logo {
    width: 10em;
  }
  .primary-header nav .searchbar input {
    width: 10em;
  }
  .primary-header nav .navigation ul li {
    font-size: 10px;
  }

  section.hero {
    flex-direction: column;
  }
  section.hero .hero-img {
    width: 90%;
    height: 90%;
  }
  section.hero .hero-cat {
    flex-direction: row;
  }
  section.hero .hero-cat .cat-name .cat-name-img {
    width: 100px;
    height: 70px;
  }
  section.hero .hero-cat .cat-name .cat-name-img img {
    width: 100%;
  }
  section.hero .hero-cat .category {
    width: auto;
    height: 70px;
  }
  section.hero .hero-cat .category h3 {
    font-size: 15px;
  }
  section.hero .hero-cat .category p {
    font-size: 12px;
  }

  .upper-line .info {
    gap: 0.5em;
  }
  .upper-line .info h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 425px) {
  .sec-header {
    font-size: 10px;
  }

  .header {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */