@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #edf6f9;
  font-family: sans-serif;
  align-items: center;
  text-transform: uppercase;
}

.sec-header {
  background-color: #41383b;
}
.sec-header .sec-header-inner {
  height: 3em;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.container {
  width: 80%;
  margin: auto;
}

.primary-header nav {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-header nav .logo {
  width: 15em;
}
.primary-header nav .logo img {
  width: 100%;
}
.primary-header nav .navigation {
  text-align: center;
  letter-spacing: 0.1em;
}
.primary-header nav .navigation ul {
  padding: 1em 0;
}
.primary-header nav .navigation ul li {
  list-style: none;
  display: inline-block;
  padding: 0 1em;
  border-right: 1px solid rgb(0, 0, 0);
}
.primary-header nav .navigation ul li a {
  text-decoration: none;
  color: #e56364;
  font-weight: bold;
}
.primary-header nav .navigation ul li a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.primary-header nav .navigation ul li:nth-child(4) {
  border: none;
}
.primary-header nav .searchbar {
  font-size: 20px;
  border: 0.01em solid rgba(0, 0, 0, 0.082);
  border-radius: 0 5px 5px 0;
  padding-left: 1em;
}
.primary-header nav input {
  border: none;
  width: 20em;
  outline: none;
}
.primary-header nav .fa-magnifying-glass {
  color: white;
  background-color: #e56364;
  padding: 0.5em;
  border-radius: 0 5px 5px 0;
}

input {
  background: transparent;
}

hr {
  border-top-color: rgba(128, 128, 128, 0.123);
}

.menu {
  display: none;
}
.menu i {
  font-size: 25px;
  color: black;
}

.navbar {
  transition: 0.5s all;
  margin: 2em 0;
}
.navbar .menu-close {
  display: none;
}
.navbar nav li {
  list-style: none;
  display: inline-block;
  margin-right: 3em;
}
.navbar nav i {
  color: #e56364;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #e56364;
}

section.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section.hero .hero-img {
  width: 60%;
  height: 100%;
}
section.hero .hero-img img {
  width: 100%;
  height: 100%;
}
section.hero .hero-cat {
  width: 35%;
}
section.hero .hero-cat img {
  width: 100%;
  display: inline-block;
}
section.hero .hero-cat .cat-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}
section.hero .hero-cat .cat-name .cat-name-img {
  width: 40%;
  height: 115px;
}
section.hero .hero-cat .cat-name .cat-name-img img {
  width: 100%;
  height: 100%;
}
section.hero .hero-cat .category {
  background: rgb(33, 84, 113);
  background: linear-gradient(0deg, rgb(33, 84, 113) 0%, rgb(119, 153, 187) 100%);
  height: 115px;
  width: 60%;
  padding: 0em 1.5em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
section.hero .hero-cat .category h3 {
  font-size: 20px;
}
section.hero .hero-cat .diff {
  background: rgb(123, 155, 173);
  background: linear-gradient(0deg, rgb(123, 155, 173) 0%, rgb(197, 209, 222) 100%);
}

section.carosel {
  margin: 3em 0;
}
section.carosel * {
  box-sizing: border-box;
}
section.carosel body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
section.carosel img {
  vertical-align: middle;
}
section.carosel .main-container {
  position: relative;
}
section.carosel .slideshow-container {
  width: 90%;
  margin: auto;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.carosel .mySlides {
  width: 100%;
  margin: 0 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
section.carosel .mySlides img {
  width: 100%;
}
section.carosel .prev, section.carosel .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
section.carosel .prev {
  left: 0%;
}
section.carosel .next {
  right: 0%;
  border-radius: 3px 0 0 3px;
}
section.carosel .prev:hover, section.carosel .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
section.carosel .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
section.carosel .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
section.carosel .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
section.carosel .active, section.carosel .dot:hover {
  background-color: #717171;
}
section.carosel .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
section.carosel .carosel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 30%;
  gap: 10px;
}
section.carosel .carosel-item img {
  width: 100%;
}
section.carosel .carosel-img img {
  width: 100%;
  height: 100%;
}

.price {
  color: #e56364;
  font-weight: bold;
}

.fa-cart-arrow-down:hover {
  color: black;
}

section.other-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  gap: 2em;
}
section.other-item img {
  width: 100%;
}
section.other-item .info {
  margin-bottom: 1em;
}
section.other-item .price, section.other-item i {
  display: inline-block;
  margin-right: 1em;
}

footer {
  margin-top: 4em;
  margin-bottom: 1em;
}

.upper-line {
  margin-bottom: 1em;
  width: 100%;
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  gap: 3em;
}
.upper-line .info {
  display: flex;
  align-items: center;
  gap: 2em;
  width: 50%;
  height: 50px;
  background-color: #e56364;
  border-radius: 0 5px 5px 0;
  color: white;
  position: relative;
}
.upper-line .info .triangle {
  z-index: -1;
  width: 2.1rem;
  height: 2.1rem;
  background-color: #e56364;
  border-radius: 0.1em;
  position: absolute;
  right: -16px;
  transform: rotate(45deg);
}
.upper-line .info p {
  font-size: 10px;
}
.upper-line input {
  width: 40em;
  border: none;
  outline: none;
}
.upper-line i {
  background-color: #41383b;
  padding: 0.5em;
  color: white;
  margin: 0;
}
.upper-line .fa-envelope {
  background-color: transparent;
}

.footer-info {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3em;
}
.footer-info .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-info .foot-part {
  width: 300px;
}
.footer-info .foot-part li {
  list-style-type: none;
  margin: 0.5em 0;
  text-align: left;
}
.footer-info .foot-part li a {
  font-size: 15px;
}
.footer-info .foot-part h3 {
  font-weight: bold;
  font-size: 18px;
}
.footer-info .social i {
  margin-right: 1em;
}

.rm {
  display: none;
}

@media only screen and (min-width: 1445px) {
  section.hero .hero-cat .cat-name {
    justify-content: space-between;
  }
  section.hero .hero-cat .cat-name .cat-name-img {
    height: 150px;
  }
  section.hero .hero-cat .cat-name .category {
    height: 150px;
  }
}
@media only screen and (max-width: 1440px) {
  body {
    font-size: 18px;
  }

  section.hero .hero-cat {
    width: 38%;
  }

  .primary-header nav .logo {
    width: 12em;
  }
  .primary-header nav .navigation ul li {
    padding: 0 10px;
  }
  .primary-header nav input {
    width: 15em;
    padding: 1em;
  }

  .navbar nav ul li {
    margin-right: 1em;
  }
}
@media only screen and (max-width: 1300px) {
  .primary-header nav .navigation ul li {
    font-size: 12px;
  }
  .primary-header nav .searchbar {
    padding-left: 0.1em;
  }
  .primary-header nav .searchbar input {
    width: 10em;
  }

  section.hero .hero-cat .cat-name {
    margin: 1em 0;
    width: 100%;
  }
}
@media only screen and (max-width: 1040px) {
  .sec-header {
    font-size: 15px;
  }

  .container {
    width: 90%;
  }

  .primary-header nav .logo {
    width: 8em;
  }
  .primary-header nav .navigation {
    letter-spacing: 0;
    font-size: small;
  }
  .primary-header nav .navigation ul {
    padding: 1em 0;
  }
  .primary-header nav .navigation ul li {
    padding: 0 1em;
  }

  .navbar nav li {
    font-size: 15px;
    margin-left: 1.2em;
  }

  section.hero .hero-img {
    width: 100%;
    height: 380px;
  }
  section.hero .hero-img img {
    width: 100%;
  }
  section.hero .hero-cat {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  section.hero .hero-cat .cat-name {
    width: 30%;
  }
  section.hero .hero-cat .category {
    padding: 1em;
  }
  section.hero .hero-cat .category h3 {
    font-size: 18px;
  }
  section.hero .hero-cat .category p {
    font-size: 12px;
  }

  section.carosel .carosel-item p {
    font-size: 15px;
  }

  .upper-line input {
    width: 20em;
  }
}
@media only screen and (max-width: 930px) {
  .menu {
    display: block;
    margin: 2em 0;
    text-align: right;
  }

  .navbar {
    display: none;
  }

  .show.navbar {
    display: block;
  }

  .navbar nav li {
    display: block;
    text-align: right;
    margin: 1em 0;
  }

  section.hero .hero-img {
    width: 100%;
  }
  section.hero .hero-cat .cat-name .cat-name-img {
    height: 100px;
  }
  section.hero .hero-cat .category {
    height: 100px;
  }
  section.hero .hero-cat .category p {
    font-size: 12px;
  }
  section.hero .hero-cat .category h3 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 860px) {
  .carosel-item {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  section.carosel .rm {
    display: none;
  }
}
@media only screen and (max-width: 780px) {
  .container {
    width: 95%;
  }

  .sec-header {
    font-size: 12px;
  }

  .primary-header nav .logo {
    width: 10em;
  }
  .primary-header nav .searchbar input {
    width: 10em;
  }
  .primary-header nav .navigation ul li {
    font-size: 10px;
  }

  section.hero {
    flex-direction: column;
  }
  section.hero .hero-img {
    width: 90%;
    height: 90%;
  }
  section.hero .hero-cat {
    flex-wrap: wrap;
  }
  section.hero .hero-cat .cat-name {
    display: flex;
  }
  section.hero .hero-cat .cat-name .cat-name-img {
    width: 110px;
    height: 80px;
  }
  section.hero .hero-cat .cat-name .cat-name-img img {
    width: 100%;
  }
  section.hero .hero-cat .category {
    width: auto;
    height: 80px;
  }
  section.hero .hero-cat .category h3 {
    font-size: 15px;
  }
  section.hero .hero-cat .category p {
    font-size: 12px;
  }

  section.carosel .slideshow-container {
    width: 95%;
  }
  section.carosel .slideshow-container .mySlides {
    gap: none;
  }
  section.carosel .slideshow-container .mySlides .carosel-item {
    width: 40%;
  }

  .upper-line .info {
    gap: 0.5em;
  }
  .upper-line .info h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 680px) {
  .sec-header {
    font-size: 5px;
  }

  .searchbar {
    display: none;
  }

  .primary-header nav .navigation {
    text-align: right;
    font-size: 10px;
  }
  .primary-header nav .navigation p {
    margin-bottom: 1em;
  }
  .primary-header nav .navigation ul li {
    display: block;
    border: none;
  }

  .navbar nav li {
    font-size: 10px;
  }

  .upper-line {
    gap: 0.5em;
  }
  .upper-line .info .info-inner p {
    font-size: 8px;
  }
  .upper-line input {
    width: 5em;
    font-size: 10px;
  }

  .footer-info .foot-part li a {
    font-size: 10px;
  }
  .footer-info .foot-part h3 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  section.hero .hero-cat .cat-name {
    width: 48%;
  }
}
@media only screen and (max-width: 425px) {
  section.hero .hero-cat .cat-name {
    width: 100%;
  }

  section.carosel .rm2 {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .sec-header {
    font-size: 8px;
  }

  .list-item .info {
    font-size: 15px;
  }

  .prev, .next, .text {
    font-size: 11px;
  }

  .upper-line .info h3 {
    font-size: 15px;
  }
  .upper-line .info p {
    font-size: 8px;
  }
}/*# sourceMappingURL=main.css.map */